body {
      font-family: Arial, sans-serif;
      background: #121212;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .form-box {
      background: #1e1e1e;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.1);
      width: 300px;
    }
    h2 {
      text-align: center;
      color: #ffffff;
    }
    .form-group {
      margin-bottom: 15px;
    }
    label {
      display: block;
      color: #ffffff;
    }
    input {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    button {
      width: 100%;
      background: #bb86fc;
      color: #000;
      border: none;
      padding: 10px;
      border-radius: 5px;
      margin-top: 10px;
      font-weight: bolder;
    }
    .error {
      color:#cf6679;
      font-size: 14px;
      margin-top: 5px;
    }
    .link {
      text-align: center;
      margin-top: 10px;
    }